<div class="main">
  <p class="sign" align="center">
  Sign up</p>

    <div class="form1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "un",placeholder:"Username" %>

          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "un",placeholder:"Email" %>


          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "un",placeholder:"phone_number" %>


          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "password", class: "pass",placeholder:"Password" %>


          <%= f.password_field :password_confirmation, autocomplete: "password-confirm", class: "pass",placeholder:"Password-confirm" %>

          <%= f.submit "Sign up", class: "submit" %>

          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>