<!-- 記事一覧 -->
<main>
  <div class="col-xs-8">
    <h3 class="entry-item">新着記事</h3>
      <% @entries.each do |entry| %>
        <td><div class="panel panel-default">
          <div class="panel-body">
            <%= link_to entry.title, entry,class: "panel-body" %> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
            <div id="likes_buttons_<%= entry.id %>">
    	       <%= render partial: 'favorites/favorite', locals: { blog_entry: entry, favorites: entry.favorites} %>
    	      </div>
          </div>
        </div>
      </td>
      <% end %>

    <%= paginate @entries, class:"hogehoge" %>
  </div>
<!-- いいねランキング -->
  <div class="col-xs-4">
    <h3 class="entry-item">いいねランキング</h3>
     <% @rank.each.with_index(1) do |rank, i| %>
      <td><div class="panel panel-default">
            <div class="panel-body">
              <%= "第#{i}位" %>
                <%= link_to rank.title, rank,class: "panel-body" %> - <i> published <%= time_ago_in_words(rank.published) %> ago.</i>
                  <div id="likes_buttons_<%= rank.id %>">
                    <%= render partial: 'favorites/favorite', locals: { blog_entry: rank, favorites: rank.favorites} %>
                  </div>
            </div>
          </div>
      </td>
     <% end %>
  </div>
</main>
