<h1 class="title-moji">All User</h1>
    <table class="table table-hover table-inverse">
        <thead>
          　　<tr>
            	<th><h2>image</h2></th>
            	<th><h2>name</h2></th>
          　　</tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
         　　 <tr>
      	      　<td><h4><%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-img", format: 'jpeg', fallback: "oshibana.jpg"  %></h4></td>

      	      　<td><h4><%= user.username %></h4></td>

      	      　<td><h4><%= link_to 'マイページ' , user_path(user.id), class: "btn btn-default btn-sm" %></h4></td>

      	      <% if current_user && current_user.admin? %>
      	        	<td><%= link_to "編集", edit_user_path(user.id), class: "btn btn-default btn-sm" %></td>
      	      <% end %>

      	      <% if current_user && current_user.admin? %>
      		    	  <td><%= link_to "退会", user_path(user.id, :user => {:deleted => 'true'}), method: :delete, class: "btn btn-default btn-sm", "data-confirm" => "本当に消しますか？" %></td>

              <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>