<main>
	<div class="col-xs-3">
		<h1 class="title-moji">My page</h1>
			<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-img", format: 'jpeg', fallback: "no_image.png" %>
				<table class="table">
        			<tbody>
          				<tr>
							<th><%= @user.username %></th>
						</tr>
						<tr>
							<th><%= link_to "編集", edit_user_path(current_user.id), class: "simple_square_btn3" %></th>
						</tr>
						<tr>
							<th><%= link_to "退会", user_path, :user => {:deleted => 'true'}, method: :delete, class: "simple_square_btn3", "data-confirm" => "本当に退会しますか？" %></th>
						</tr>
					</tbody>
				</table>
	</div>

	<div class="col-xs-9">
  		<h1 class="title-moji">My favorite</h1>
			<% @favorite_entries.each do |fav| %>
				<td><div class="panel panel-default">
    				<div class="panel-body">
      					<%= link_to fav.title, fav,class: "panel-body" %> - <i> published <%= time_ago_in_words(fav.published) %> ago.</i>
    						<div id="likes_buttons_<%= fav.id %>">
    							<%= render partial: 'favorites/favorite', locals: { blog_entry: fav, favorites: fav.favorites} %>
    						</div>
					</div>
					</div>
				</td>
			<% end %>
	</div>
</main>